.errmsg {
    background-color: #FFAAAA;
}
.body{
    background-color: #222222;
}
#top-section{
    width: 100%;
    background-color: #FFFFFF;
}
#topic-section{
    width: 20%;
    float: left;
    background-color: #E0E0FF;
}
#chat-section{
    width: 80%;
    float: left;
    background-color: #FFE0E0;
}
#chat-messages{
    width: 100%;
    background-color: #E0FFE0;
}
#chatbox-section{
    width: 100%;
    float: left;
    background-color: #FFE0FF;
}

.fullscreen{
    width: 100%;
    height: 100%;
}
.cell-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.topic_title {
    font-size: larger;
    font-weight: bold;
}
.topic_lines {
    font-weight: bold;
}
.reply_title {
    font-size: large;
}
.reply_lines {
    font-weight: normal;
}
.username {
    font-style: normal;
}
.deadname {
    text-decoration: line-through;
}
.title_input {
    width: 50em;
}
.lines_input {
    width: 50em;
    height: 8em;
}
.larger_btn {
    width: 33em;
}
.smaller_btn {
    width: 17em;
}
